

body {
	background: #fafafc;		
}
.rectangle {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.08);
}



/*-----------------------------*/
.information {
	margin: 38px 115px;
	padding:60px 0 0 0;
	z-index: 2;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 38px 115px;
}

/*------------menu--------------------*/

.block0__menu__items {
	padding: 10px;
	position: relative;
	border-top: 0.5px solid  rgba(183, 193, 203, 0.4);

}
.information__block0__menu {
	list-style-type: none;
	padding: 0;
	margin:0;
}

.block0__menu__link {
	text-decoration: none;
	color: #3E3934;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
}

.information__block0 {
	padding: 0 0 0 30px;
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 20%;
	border: 0.5px solid #E2E2E5;
	overflow: hidden;
	border-radius: 5px;
	margin-right: 10px;
}

.block0__menu__img {
	position: relative;
	top:5px;
	right: 5px;
}

 .information__block {
	position: relative;
	width: 100%;
}

.information__block__conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-start;
	position: relative;
	top: -30px;
}

.information__block__img {
	padding: 0 0 150px 0;
	border: thin solid #E2E2E5;
	border-radius: 5px ;
	overflow: hidden;
	margin: 20px;
	background: #fff;
	display: flex;
	flex-direction: column;
	position: relative;
}



.information__block__caption {
	margin:0;
	width: 90%; 
	position: absolute;
	top:144px;
	padding-left: 5%;
}
.information__block__name {
	color: rgba(0, 0, 0, 0.6);
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	margin: 0;

}

.information__block__name__type {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	margin: 0 0 10px 0 ;

}

.information__block__data {
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.6);
	display: block;
	position: absolute;
	top:240px;
	border-top: thin solid #E2E2E5;
	width: 230px;
	padding: 9px 0 9px 40px ;
}

.information__block__img__suitcase{
	position: absolute;
	top:251px;
	padding-left: 15px;
}

.information__block__img__ellipse{
	position: absolute;
	right:7%;
	bottom: 45%;
}

.information__block__img__group {
	position: absolute;
	right:8%;
	bottom: 46%;}

.information__block__img__group__picture {
	position: absolute;
	right:13.5%;
	bottom: 48%;
}

.group-cubock {
	position: absolute;
	right:12.3%;
	bottom: 48%;
}

.block0__menu__link:focus{
	color: #FF8300;
}


/*----------main_block------------------------------------*/

.information__block__img__circle {
	position: relative;
	top:130px;
	padding:0  104px;

}

.information__block__img__cross {
	position:relative;
	top:90px;
}

.nformation__block__img__caption {
	color: #FF8300;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	position: relative;
	top:110%;
	margin: 0 45px;
}

.information__block__headline {
	margin:0;
	position: relative;
	bottom:33px;
	background: #fafafc;
	width: 180px; 
}

.information__block__line {
	border: solid 1px rgba(0, 0, 0, 0.1);
}

.container {
	position: relative;
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.information__block__buttom__circle {
  width: 65px;
  height: 65px;
  border: 2px dashed #0000FF;
  border-radius: 50%;
  background: #fff;
  font-size: 30px;
  color: #0000FF;
  position: relative;
  left:50%;
  top:100%;
  transform: translate(-50%,-50%);

}




/*проблема с блоком с кнопкой при пере носе на другую строку он теряет свою высоту!*/