

.head {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.08);	
}

.main {
	display: flex;
	align-items: center;
}
.main__block_padding{
	display: flex;
	width: 100%;
	padding: 5% 65px 0 65px;
	height: 100%;
}

.main__blocks {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin:0 50px;
}


.block__gallery {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	position: relative;
}

.main__menu {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	z-index: 6;
}

.main__menu--link:focus {
	color: #FF8300;
}

.main__menu--navigation {
	background: #fff;
	padding: 0 0 0 15px;
	position: sticky;
	top:5%;
	flex:0 0 214px;
}

.main__menu--items:hover .block__menu--link {
	color: #ff6130; color: #ff6130; }

.main__menu--items {
	padding: 10px 40px 10px 10px;
	border-bottom: 1px solid rgba(183, 193, 203, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.main__menu--sign {
	width: 25px;
	height: 25px;
}

.main__menu--link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 160px;
	font-weight: 600;
	font-size: 13px;
	line-height: 27px;
	color: #3E3934;
}

.main__menu--arrow {
	width: 10px;
	height: 10px;
}


.gallery__block--button {
	align-self: center;
	border:1.7px dashed #1D24AB;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #fff;
	color: #1D24AB;	
	font-size: 30px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);	
}

.gallery__block--button-plus {
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.botton {
	position: relative;
}

.gallery__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 3;
}
.gallery__legent {
	width: 100%;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FF8300;
	position: absolute;
	top:80%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.gallery__block-time-ellips {
	width: 20px;
	height: 20px;
	background: #FF8300;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top:89%;
	right:5%;
}



.main__conteiner {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	position: relative;
}


.main__caption_line{
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;	
	padding-left: 20px;
	background: #fafafc;
	position: relative;
	overflow: hidden;
}


.main__caption_line:after {
    content:"";
    display: inline-block;
    height: 1px;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.block__conteiner--ellipse {
	position: absolute;
	top:1%;
	right: 0%;
	z-index: 7;
	display: flex;
	background: #fafafc;
	width: 100px;
	justify-content: flex-end;
	
}

.ellipse-arrow--white {
	background: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

}
.ellipse-arrow--orange {
	background: #FF8300;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:none;

}

.gallery__block-arrow {
	width: 10px;
	height: 15px;
}




@media screen and (min-width: 5500px)
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(6% - 40px);

	}
}

@media screen and (min-width: 5000px) and (max-width: 5500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(8% - 40px);

	}
}

@media screen and (min-width: 4500px) and (max-width: 5000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(9% - 40px);
	}
}

@media screen and (min-width: 4000px) and (max-width: 4500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(10% - 40px);
	}
}

@media screen and (min-width: 3500px) and (max-width: 4000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(11% - 40px);

	}
}

@media screen and (min-width: 3000px) and (max-width: 3500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(12% - 40px);

	}
}

@media screen and (min-width: 2500px) and (max-width: 3000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(15% - 40px);
	}
}

@media screen and (min-width: 2000px) and (max-width: 2500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(20% - 40px);
	}
}

@media screen and (min-width: 1500px) and (max-width: 2000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(25% - 40px);

	}
}




@media screen and (min-width:1000px) and (max-width:  1500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(35% - 40px);


	}
}

@media screen and (min-width: 850px) and (max-width: 1000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(45% - 40px);

	}
}

@media screen and (min-width: 700px) and (max-width: 850px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(60% - 40px);



	}
}

@media screen  and (max-width: 700px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(100% - 40px);


	}
}

