@media only screen and (max-width: 900px) 
{
	.head {
		padding: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.head__logotype_disable {
		width: 100%;
    	display: flex;
    	justify-content: space-between;
	}

	.head__img_caption {
		display: none;
	}
	.head__logotype {
		display: flex;
	}

	.head__img {
		width: 60px;
		height: 34px;
	}


	.head__contact__button {
		display: none;
	}

	.head__form {
		display: none;
	}

	.head_button_loup {
		display: flex;
		align-items: center;
		background: #fff;
		border: none;
	}

	.head__img_loup {
		width: 23px;
		height: 23px;
	}


	.head__button_three-line {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 40px;
		background: #fff;
		border: none;

	}

	.head_buttons {
		display: flex;
	}

	.head__menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 22px;
		height: 20px;
	}

	.head__menu_itim {
		height: 2px;
		width: 22px;
		background: #3E3934;
	}

	.head__input_phine-version {
		width: 80%;
		height: 22px;
		border-radius: 5px;
		outline: none;
		border: 1px solid #FF8300;
		padding-left: 20px;
		display: none;
		color: rgba(0, 0, 0, 0.3);
		font-family: Nunito;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		padding-left: 15px;
		transition: 0.3s;
	}

	.head_button_loup:focus .head__input_phine-version {
		display: block;
	}

	.subheader__title {
		display: none;
	}
	.subheader {
		width: 100%;
		height: 50px;
		justify-content: center;
	}

	.subheader__title {
		display: none;
	}

	.button--link {
		border: none;
		background: none;
		display: flex;

	}
	.subheader__menu--items {
		display: flex;
		justify-content: space-around;
		height: 100%;
		width: 85%;
		margin:0 2% ;
	}

	.subheader--reload {
		height: 100%;
		width: 15%;
		border-left: 1px solid rgba(255, 193, 128, 0.76);
		display: flex;
		justify-content: center;
	}


	.subheader__conteiner__menu {
		width: 100%;
		display: flex;
		justify-content: center;

	}

	.subheader__textmenu{
		margin:0;
	}
		
	.subheader__animated--reload__img {
		margin:0;
	}

	

	.subheader__animated--reload {
		position: static;
		display: flex;
		justify-content: center;
		height: 100%;
	}

	.main__three-buttons {
		width:100%;
		margin: 0 0 10% 0;
	}
	.main__button {
		height: 60px;
		width: 80%;
	}
	
	.main{
		padding: 15% 0 0 0;

	}

	.main__block {
		margin: 0;
		padding: 0;
	}

	.main__button-first {
		padding: 0;
	}
	.main__button-second {
		padding: 0;
	} 
	.main__button-third {
		padding: 0;
	}
	
	.button--link:hover {
		background: rgba(255, 255, 255, 0.3);
		transform: none;
		border: none;
  
   }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {



	.main__block_padding{
		display: flex;
		width: 100%;
		padding: 5% 10px 0 10px;
		height: 100%;
	}

	.main__blocks {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin:0 10px;
	}


	.block__gallery {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		position: relative;
	}
	/*-------------------*/

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		z-index: 6;
		width: 15%;
		margin-right: 20px;
	}


	.main__menu--navigation {
		background: #fff;
		padding: 0 ;
		position: sticky;
		top:5%;
		flex:0 0 70%;
		width: 100%;
	}

	.main__menu__sign-caption {
		width: 70%;
	}

	.main__menu__link {
		border-bottom:1px solid rgba(183, 193, 203, 0.2);
		padding-left: 10px;
	}
	
	.main__menu_conteiner {
		border: none;
	}

	.main__menu--arrow {
		width: 10px;
		height: 10px;
		fill: #3E3934;
		opacity: 0.7;
	}
	.main__menu--sign {
		fill: #3E3934;
		opacity: 0.7;
		margin-right: 10px;
		}

	/*--------------------------*/


	.block__conteiner--ellipse {
		display: none;
		
	}

	.main__menu_invisible {
		display: none;
	}


}

@media only screen and (max-width: 700px) {

	.head__logotype_partner {
		display: none;
	}

	.main {
		background: #ECEAE8;

	}

	.main__block_padding{
		padding: 15.5% 0 15.5% 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main__blocks {
		width: 80%;
		margin:0 10px;
	}
	.main__menu--navigation {
		margin:0;
	}
	
	.block__gallery {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		position: relative;
	}

	.main__menu {
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 6;
		width: 65%;

	}
	

	.main__menu__link:hover  {
		background:#506FD7; 
	}

	.main__menu__link:hover .main__menu_invisible  {
		color: #fff;
	}

	 .main__menu__link:hover .main__menu--sign {
	   fill: #fff;
	   opacity: 1;
	}
	
	.main__menu__link:hover  .main__menu--arrow {
		fill:#fff;
		opacity: 1;
	}


	.main__blocks {
		display: none;
	}
}



@media screen and (min-width: 5000px) 
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(22% - 40px);
	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 10%;

	}

	.main__blocks {
		width: 25%;
	}

}

@media screen and (min-width: 3000px) and (max-width: 5000px) 
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(22% - 40px);
	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 10%;

	}

	.main__blocks {
		width: 25%;
	}

}




@media screen and (min-width: 3000px) and (max-width: 3500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 20%;
	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 10%;

	}

	.main__blocks {
		width: 40%;
	}
}

@media screen and (min-width: 2500px) and (max-width: 3000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(22% - 40px);
	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 15%;

	}

	.main__blocks {
		width: 55%;
	}
}

@media screen and (min-width: 2000px) and (max-width: 2500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(25% - 40px);

	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 15%;

	}

	.main__blocks {
		width: 50%;
	}
}


@media screen and (min-width: 1500px) and (max-width: 2000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(30% - 40px);
	}

	.main__menu--navigation {
		top:0%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 15%;

	}

	.main__blocks {
		width: 60%;
	}
}




@media screen and (min-width:1200px) and (max-width:  1500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(45% - 40px);

	}

	.main__menu--navigation {
		top:20%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 25%;

	}

	.main__blocks {
		width: 50%;
	}
}

@media screen and (min-width:1000px) and (max-width:  1200px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(45% - 40px);
	}

	.main__menu--navigation {
		top:20%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 30%;

	}

	.main__blocks {
		width: 70%;
	}
}


@media screen and (min-width: 700px) and (max-width: 1000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(50% - 40px);		  
	

	}

	.main__menu--navigation {
		top:20%;
		flex:0 0 90%;
	}

	.main__menu {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		z-index: 6;
		width: 20%;

	}

	.main__blocks {
		width: 80%;
	}
}






