@media only screen and (max-width: 900px) 
{
	.head {
		padding: 12px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.head__logotype_disable {
		width: 100%;
    	display: flex;
    	justify-content: space-between;
	}

	.head__img_caption {
		display: none;
	}
	.head__logotype {
		display: flex;
	}

	.head__img {
		width: 60px;
		height: 34px;
	}


	.head__contact__button {
		display: none;
	}

	.head__form {
		display: none;
	}

	.head_button_loup {
		display: flex;
		align-items: center;
		background: #fff;
		border: none;
	}

	.head__img_loup {
		width: 23px;
		height: 23px;
	}


	.head__button_three-line {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 40px;
		background: #fff;
		border: none;

	}

	.head_buttons {
		display: flex;
	}

	.head__menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 22px;
		height: 20px;
	}

	.head__menu_itim {
		height: 2px;
		width: 22px;
		background: #3E3934;
	}

	.head__input_phine-version {
		width: 80%;
		height: 22px;
		border-radius: 5px;
		outline: none;
		border: 1px solid #FF8300;
		padding-left: 20px;
		display: none;
		color: rgba(0, 0, 0, 0.3);
		font-family: Nunito;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		padding-left: 15px;
		transition: 0.3s;
	}

	.head_button_loup:focus .head__input_phine-version {
		display: block;
	}

	.subheader__title {
		display: none;
	}
	.subheader {
		width: 100%;
		height: 50px;
		justify-content: center;
	}

	.subheader__title {
		display: none;
	}

	.button--link {
		border: none;
		background: none;
		display: flex;

	}
	.subheader__menu--items {
		display: flex;
		justify-content: space-around;
		height: 100%;
		width: 85%;
		margin:0 2% ;
	}

	.subheader--reload {
		height: 100%;
		width: 15%;
		border-left: 1px solid rgba(255, 193, 128, 0.76);
		display: flex;
		justify-content: center;
	}


	.subheader__conteiner__menu {
		width: 100%;
		display: flex;
		justify-content: center;

	}

	.subheader__textmenu{
		margin:0;
	}
		
	.subheader__animated--reload__img {
		margin:0;
	}

	

	.subheader__animated--reload {
		position: static;
		display: flex;
		justify-content: center;
		height: 100%;
	}

	.main__three-buttons {
		width:100%;
		margin: 0 0 10% 0;
	}
	.main__button {
		height: 60px;
		width: 80%;
	}
	
	.main{
		padding: 15% 0 0 0;

	}

	.main__block {
		margin: 0;
		padding: 0;
	}

	.main__button-first {
		padding: 0;
	}
	.main__button-second {
		padding: 0;
	} 
	.main__button-third {
		padding: 0;
	}
	
	.button--link:hover {
		background: rgba(255, 255, 255, 0.3);
		transform: none;
		border: none;
  
   }
}
/*----------------------------*/





/*-------------------------*/

@media screen and (min-width: 5500px)
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(6% - 40px);
	}
}

@media screen and (min-width: 5000px) and (max-width: 5500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(8% - 40px);
	}
}

@media screen and (min-width: 4500px) and (max-width: 5000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(9% - 40px);
	}
}

@media screen and (min-width: 4000px) and (max-width: 4500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(10% - 40px);
	}
}

@media screen and (min-width: 3500px) and (max-width: 4000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(11% - 40px);

	}
}

@media screen and (min-width: 3000px) and (max-width: 3500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(12% - 40px);
	}
}

@media screen and (min-width: 2500px) and (max-width: 3000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(14% - 40px);
	    
	}
}

@media screen and (min-width: 2000px) and (max-width: 2500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(16% - 40px);

	}
}

@media screen and (min-width: 1500px) and (max-width: 2000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(20% - 40px);

	}
}

@media screen and (min-width: 1200px) and (max-width: 1500px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(25% - 40px);

	}
}

@media screen and (min-width:1000px) and (max-width:  1200px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(33% - 40px);

	}
}

@media screen and (min-width: 700px) and (max-width: 1000px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(50% - 40px);
	}
}

@media screen  and (max-width: 700px )
{ 
	.gallery__block {
		padding:  0;
		border: thin solid #E2E2E5;
		border-radius: 5px ;
		overflow: hidden;
		margin: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 270px;
	    flex: 0 0 calc(100% - 40px);
	}
}

@media screen  and (min-width: 900px ) and (max-width: 1200px )
{ 
	.subheader--reload {
		width: 10%;
	}
	.subheader__menu--items {
		width: 90%;
		justify-content: center;
	}
}