<!DOCTYPE html>
<html lang="en">
<head>
				<meta charset="UTF-8">
				<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
				<link rel="stylesheet" type="text/css" href="css/main2.css">
				<link rel="stylesheet" type="text/css" href="css/main.css">
				<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
				<title>Document2</title>
</head>

<body>
			
				<header>
				<div class="rectangle">
					<div class="rectangle__logo">
						<img src="img/Group_title.svg">
						<img class="rectangle__logo__partner" src="img/label2.svg">
				    </div>

					<form class="rectangle__form" action="" method="get">
						 <input class="rectangle__field" name="search-form" placeholder="I’m looking for..." type="search">
						 <button class="rectangle__form__button" type="submit">Go!</button>
					</form>

					<div class="rectangle__contact">	
						<img class="rectangle__contact__people" src="img/Ellipsepeaple.svg">
						<p class="rectangle__contact__people__name">
						Robert Singer
						</p>
						<img class="rectangle__contact__arrow" src="img/Intersect.svg">
					</div>
				</div>
				</header>


				<main>
						<section class="information">

							<div class="information__block0">
								<ul class="information__block0__menu">
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/people.svg"> 
									Profil</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
									 	<img class="block0__menu__img" src="img/icon2.svg">
									Event</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/Compound Path.svg"> 
									Photos</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/chemod.svg"> 
									Notifications</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/Group 776.svg"> 
									Settings</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/Group 787.svg"> 
									Payment</a></li>
									<li class="block0__menu__items"><a class="block0__menu__link" href="#">
										<img class="block0__menu__img" src="img/Group 789.svg"> 
									Support</a></li>
								</ul>
							
							</div>


							<div class="container">
									<div class="information__block">
									<hr class="information__block__line">
									<h1 class="information__block__headline">Ongoing events </h1>
										<div class="information__block__conteiner">
											<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">
												<img class="information__block__img__group" src="img/Group 768.14.svg">
												<img src="img/image 3.svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type">
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
											</div>

										<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">	
												<img class="information__block__img__group__picture" src="img/Vector2.svg">
												<img src="img/image%20(2).svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type" >
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
										</div>

										<div class="information__block__img last">	
												<input class="information__block__buttom__circle" type="button" value="+"/>
												<p class="nformation__block__img__caption">	Legg till arrangement</p>
										</div>		
										</div>
								    </div>
								   
				



									<div class="information__block">
									<hr class="information__block__line">
									<h1 class="information__block__headline">Tidligere events </h1>
										<div class="information__block__conteiner">
											<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">
												<img class="information__block__img__group" src="img/Group 768.14.svg">
												<img src="img/image%20(1).svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type">
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
											</div>

										<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">	
												<img class="information__block__img__group__picture" src="img/Vector2.svg">
												<img src="img/image 3.svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type" >
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
										</div>

										<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">	
												<img class="information__block__img__group__picture" src="img/Vector2.svg">
												<img src="img/image%20(2).svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type" >
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
										</div>

										<div class="information__block__img">	
												<img class="information__block__img__ellipse" src="img/Ellipse.svg">	
												<img class="information__block__img__group__picture" src="img/Vector2.svg">
												<img src="img/image%202%20(1).svg">
												<div class="information__block__caption">
													<p class="information__block__name">
													Helsinki	
													</p>
													<h4 class="information__block__name__type" >
													Festival of colours
													</h4>
												</div>
												<time class="information__block__data">
												June 1, 2018 19:00
											    </time>
											    <img class="information__block__img__suitcase" src="img/Union.svg">
										</div>

										
										</div>
								    </div>
								   
								</div>
							</div>

						

					</section>
				</main>
	
</body>
</html>